/* Import montserrat font */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Thin.eot');
    src: url('../fonts/montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Thin.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    /* font-weight: 100; */
    font-style: normal;
    font-display: swap;
}

/* reset browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/*Header Top  */
.header-top{
    width: 100%;
    height: 35px;
    background-color: black;

    display: flex;
    align-items: center;
}

.header-top .header-top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top i{
    color: white;
    font-size: 14px;
}

.header-top b{
    color: white;
    font-size: 12px;
    margin-left: 4px;
}

.header-top .header-top-content .user{
    display: flex;
}

.header-top .header-top-content .user .cart{
    margin-left: 20px;
}


/* Header Main */
.header-main{
    width: 100%;
    height: 90px;
    background-color: #fff;
}


.header-main .wrap-main .logo{
width: 149.44px;
height: 100%;
}

.header-main .wrap-main .logo div{
    display: flex;
    align-items: center;
}

.header-main .wrap-main .logo .img-logo-fa{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-main .wrap-main .logo .img-logo-fa .img-logo{
    height:90px;
    width: auto;
    object-fit: cover;
}

.header-main .wrap-main .logo .text-logo{
    height: 50px;
    width: auto;
    object-fit: cover;
}

.owl-prev,
.owl-next {
    display: none !important;
}

.header-main .wrap-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* menu-main */
.menu-main{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}

.menu-main li{
    margin-left: 28px;
    list-style: none;

    position: relative;
}

.menu-main li::before{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: black;
    transition: width .3s;
}

.menu-main li:hover::before{
    width: 100%;
}

.menu-main li a{
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.header-main .wrap-main .search{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    
    border: 1px solid black;
    border-radius: 22px;
    background-color: white;
    padding-left: 10px;
    padding-right: 5px;
    width: 200px;
    height: 40px;
}

.header-main .wrap-main .search input{
    border: none;
    width: calc(180px - 36px);
    height: 32px;
    font-size: 14px;
}

.header-main .wrap-main .search input:focus{
    outline: none;
}

.header-main .wrap-main .search button{
    border: none;
    width: 32px;
    height: 32px;
    background-color:white;
    border-radius: 22px;
}


/* Banner */
.banner img{
    width: 100%;
    object-fit: cover;
}

/* Main index */
.main-index{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding: 50px 0;
}

.main-index .container-products{
    background-color: pink;
    width: 100%;
}

.main-index .container-products .title-products{
    height: 140px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-index .container-products .title-products h2{
    font-weight: 900;
    font-size: 30px;

    text-align: center;
    /* line-height: 140px; */
}

.main-index .container-products .title-products i{
    /* position: absolute;
    top: 40px;
    right: 300px;
    color: red;

    width: 70px;
    height: auto;
    z-index: 1; */
}

.main-index .container-products .products-card{
    background-color: white;
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 40px;
    padding-top: 16px;
    position: relative;
}

.main-index .container-products .products-card .products-img{
    width: 85%;
    height: auto;
}

.main-index .container-products .products-card .products-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-index .container-products .products-card .products-detail {
    width: 85%;
    /* height: 60px; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
}
.main-index .container-products .products-card .products-detail .products-name{
    font-size: 14px;
    font-weight: 600;
    height: 20px;
    margin-bottom: 0;
}

.main-index .container-products .products-card .products-detail .products-price{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 20px;
}

.main-index .container-products .products-card .products-detail .products-price .old-price{
    font-size: 12px;
    margin-bottom: 0;
}

.main-index .container-products .products-card .products-detail .products-price .new-price{
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 700;
}

.main-index .container-products .products-card .products-detail .frame-sale{
    color: red;
    font-weight: 700;
    font-size: 12px;
    height: 20px;
    margin-bottom: 0;
}

.main-index .container-products .products-card .quickview-detailview{
    background-color: black;
    width: 100%;
    height: 36px;
    position: absolute;
    bottom: -36px;
    display: flex;

    transition: bottom .4s;
    z-index: -1;

}


.main-index .container-products .products-card:hover .quickview-detailview{
    bottom: 0;
    z-index: 1;
}



.main-index .container-products .products-card .quickview-detailview a{
    width: 50%;
    height: 100%;
    border: 1px white solid;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
}

.main-index .container-products .products-card .quickview-detailview a i{
    color: white;
    font-size: 8px;
}

.main-index .container-products .products-card .quickview-detailview a p{
    color: white;
    font-size: 8px;
    font-weight: 700;
    margin-bottom: 0;
}

/* Shirt products */
.container-products .products-card .products-detail .products-price .price{
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 700;
}

/* Footer */
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid gray;
    margin-top: 28px;
}

.footer .contact{
    margin-bottom: 28px;
    padding-top: 28px;
}

.footer .contact p{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
}

.footer .contact .phone-num-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer .contact .phone-num-block p{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 12px;
}

.footer .contact .phone-num-block i{
    font-size: 24px;
    color: red;
}


.footer .contact .sign-up .sign-up-block{
    display: flex;
    align-items: center;
    position: relative;
    width: 225px;
}

.footer .contact .sign-up .sign-up-block input{
    font-size: 14px;
    height: 36px;
    width: 189px;

    border: 1px solid gray;
    border-right: none;
}

.footer .contact .sign-up .sign-up-block input:focus{
    outline: none;
}

.footer .contact .sign-up .sign-up-block button{
    background-color: black;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    border: none;
}

.footer .contact .sign-up .sign-up-block button i{
    color: white;
}

.footer .contact .social-network .icon-social-network{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.footer .contact .social-network .icon-social-network i{
    font-size: 32px;
}

.footer .contact .social-network .icon-social-network .fa-facebook-f{
    color: #0866FF;
}

.footer .contact .social-network .icon-social-network .fa-instagram{
    color: #FE0D47;
}

.footer .contact .social-network .icon-social-network .fa-shopify{
    color: #FE5722;
}

.footer .contact .social-network .icon-social-network i{
    border: none;
}

/* Bottom footer */
.footer .bottom-footer{
    width: 100%;
    height: auto;
    background-image: url(../images/background\ img\ bottom\ footer.png);
    background-size: cover;

    padding-top: 32px;
    padding-bottom: 32px;
}

.footer .bottom-footer p,li{
    color: white;
    font-weight: 700;
}

.footer .bottom-footer p{
    font-size: 16px;
}

.footer .bottom-footer li{
    font-size: 14px;
    list-style: none;
    margin-top: 10px
}

.footer .bottom-footer ul{
    padding-left: 0;
}