/* Import montserrat font */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ExtraBold.eot');
    src: url('../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Black.eot');
    src: url('../fonts/montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Black.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Black.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.eot');
    src: url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Medium.eot');
    src: url('../fonts/montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ExtraLight.eot');
    src: url('../fonts/montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-ExtraLight.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Light.eot');
    src: url('../fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Light.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Thin.eot');
    src: url('../fonts/montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Thin.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.eot');
    src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-SemiBold.eot');
    src: url('../fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype'),
        url('../fonts/montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



/* reset browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/*Header Top  */
.header-top{
    width: 100%;
    height: 35px;
    background-image: url(../images/background\ img\ bottom\ footer.png);

    display: flex;
    align-items: center;
}

.header-top .header-top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top i{
    color: white;
    font-size: 14px;
}

.header-top b{
    color: white;
    font-size: 12px;
    margin-left: 4px;
}

.header-top .header-top-content .hot-line b{
    font-weight: 700;
}

.header-top .header-top-content .user{
    display: flex;
}

.header-top .header-top-content .user b{
    font-weight: 500;
}

.header-top .header-top-content .user a{
    text-decoration: none;
}

.header-top .header-top-content .user .cart{
    margin-left: 20px;
    position: relative;
    background: none;
    border: none;
}

.header-top .header-top-content .user .cart span{
    position: absolute;
    top: -4px;
    right: -16px;
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    font-weight: 500;
}

/* Header Main */
.header-main{
    width: 100%;
    height: 90px;
    background-color: #fff;

    border-bottom: 1px solid black;
}

.scroll-menu{
    width: 100%;
    height: 90px;
    background-color: #fff;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    z-index: 119;
    animation: fadeInDown .3s ease-in-out;
}


.header-main .wrap-main .logo{
width: 149.44px;
height: 100%;
}

.header-main .wrap-main .logo div{
    display: flex;
    align-items: center;
}

.header-main .wrap-main .logo .img-logo-fa{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-main .wrap-main .logo .img-logo-fa .img-logo{
    height:90px;
    width: auto;
    object-fit: cover;
}

.header-main .wrap-main .logo .text-logo{
    height: 50px;
    width: auto;
    object-fit: cover;
}

.owl-prev,
.owl-next {
    display: none !important;
}

.header-main .wrap-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* menu-main */
.menu-main{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}

.menu-main li{
    margin-left: 28px;
    list-style: none;

    position: relative;

}

.menu-main li:first-child{
    margin-left: 0;
}

.menu-main li:nth-child(5){
    color: black;
}

.menu-main .active a{
    font-weight: 700;
}

.menu-main li::before{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: black;
    transition: width .3s;
}

.menu-main li:hover::before{
    width: 100%;
}

.menu-main li a{
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.header-main .wrap-main .search{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 22px;
    background-color: white;
    padding-left: 10px;
    padding-right: 5px;
    width: 200px;
    height: 40px;
}

.header-main .wrap-main .search input{
    border: none;
    width: calc(180px - 36px);
    height: 32px;
    font-size: 14px;
}

.header-main .wrap-main .search input:focus{
    outline: none;
}

.header-main .wrap-main .search button{
    border: none;
    width: 32px;
    height: 32px;
    background-color:white;
    border-radius: 22px;
    font-weight: 400;
}

/* Sub menu */
.menu-main .sub-menu-shirt{
    position: relative;
}

.menu-main .sub-menu-trousers{
    position: relative;
}

.menu-main .sub-menu-accessories{
    position: relative;
}

.menu-main .sub-menu-shirt .sub-menu-shirt-content{
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    top: 120%;
    z-index: 2;
    left: 0;
}

.menu-main .sub-menu-trousers .sub-menu-trousers-content{
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    top: 120%;
    z-index: 2;
    left: 0;
}

.menu-main .sub-menu-accessories .sub-menu-accessories-content{
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    top: 120%;
    z-index: 2;
    left: 0;
}

.menu-main .sub-menu li::before{
    content: none;
}

.menu-main .sub-menu ul{
    padding-left: 0;
    width: auto;
}

.menu-main .sub-menu li{
    margin-left: 0;
    width: auto;
}

.menu-main .sub-menu a{
    font-size: 14px;
    white-space: nowrap;
    font-weight: 500;
}

.sub-menu-shirt-content{
    display: none;
}

.sub-menu-trousers-content{
    display: none;
}

.sub-menu-accessories-content{
    display: none;
}

.menu-main .sub-menu-shirt:hover .sub-menu-shirt-content{
    display: block;
}

.menu-main .sub-menu-trousers:hover .sub-menu-trousers-content{
    display: block;
}

.menu-main .sub-menu-accessories:hover .sub-menu-accessories-content{
    display: block;
}

.menu-main .active .sub-menu a{
    color: black;
}

/* Banner */
.banner img{
    width: 100%;
    object-fit: cover;
}

/* Main index */
.main-index{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.main-index .container-products{
    width: 100%;
}

.main-index .container-products .title-products{
    height: 140px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-index .container-products .title-products h2{
    font-weight: 700;
    font-size: 30px;

    text-align: center;
    /* line-height: 140px; */
}

/*Products card*/
.products-card{
    background-color: white;
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 40px;
    padding-top: 16px;
    position: relative;
    border: none;
}

.products-card:hover{
    border: 1px solid grey;
}

.products-card a{
    display: flex;
    justify-content: center;
    align-items: center;

}

.products-card .products-img{
    width: 85%;
    height: auto;
}

.products-card .products-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products-card .products-detail {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
}

.products-card .products-detail .products-name{
    font-size: 14px;
    font-weight: 600;
    height: 20px;
    margin-bottom: 0;
}

.products-card .products-detail .products-price{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;


    width: 100%;
    height: 20px;
}

.products-card .products-detail .products-price .old-price{
    font-size: 12px;
    margin-bottom: 0;
    position: absolute;
    right: 0;
}

.products-card .products-detail .products-price .new-price{
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 700;
}

.products-card .products-detail .frame-sale{
    color: red;
    font-weight: 700;
    font-size: 12px;
    height: 20px;
}


.products-card .quickview-detailview{
    background-color: black;
    width: 100%;
    height: 36px;
    position: absolute;
    bottom: 0px;
    display: flex;
    transition: bottom .4s;
    opacity: 0;;
}


.products-card:hover .quickview-detailview{
    opacity: 1;
    animation: fadeInUp .2s ease-in-out;
}

.products-card .quickview-detailview a{
    width: 50%;
    height: 100%;
    border: 1px white solid;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
}

.products-card .quickview-detailview a i{
    color: white;
    font-size: 8px;
}

.products-card .quickview-detailview a p{
    color: white;
    font-size: 8px;
    font-weight: 700;
    margin-bottom: 0;
}

/* Sale products */
.main-index .sale-products .container-products .container{
    padding-bottom: 40px;
}

.main-index .sale-products .container-products{
    background-image: url(../images/background\ img\ bottom\ footer.png);
    position: relative;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 0;
    padding-left: 0;
}

.circles i{
    position: absolute;
    display: block;
    list-style: none;
    font-size: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
    color: red;
    z-index: 1;
    pointer-events: none;
    
}

.circles i:nth-child(1){
    left: 25%;
    font-size: 80px;
    animation-delay: 0s;
}


.circles i:nth-child(2){
    left: 10%;
    font-size: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles i:nth-child(3){
    left: 70%;
    font-size: 20px;
    animation-delay: 4s;
}

.circles i:nth-child(4){
    left: 40%;
    font-size: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles i:nth-child(5){
    left: 65%;
    font-size: 20px;
    animation-delay: 0s;
}

.circles i:nth-child(6){
    left: 75%;
    font-size: 110px;
    animation-delay: 3s;
}

.circles i:nth-child(7){
    left: 35%;
    font-size: 150px;
    animation-delay: 7s;
}

.circles i:nth-child(8){
    left: 50%;
    font-size: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles i:nth-child(9){
    left: 20%;
    font-size: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles i:nth-child(10){
    left: 85%;
    font-size: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

/* .main-index .sale-products .products-img img{
    max-width: 141.52px;
} */

/* .main-index .sale-products .row-js-sale-products{
    display: flex;
} */


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* Title products sale */
.main-index .sale-products .container-products .title-sale-products{
    font-weight: 700;
    font-size: 30px;
}

.main-index .sale-products .container-products .title-sale-products .text-wrapper .letters{
    display: inline-block;
    line-height: 1em;
    color: white;
}

.main-index .sale-products .container-products .title-sale-products .text-wrapper{
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.main-index .sale-products .container-products .title-sale-products .text-wrapper .line{
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
}

.main-index .sale-products .container-products .title-sale-products .text-wrapper .line1{
    top: 0;
}

.main-index .sale-products .container-products .title-sale-products .text-wrapper .line2{
    bottom: 0;
}

/* Shirt products */
.container-products .products-card .products-detail .products-price .price{
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 700;
}

/* Footer */
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid gray;
    margin-top: 28px;
}

.footer .contact{
    margin-bottom: 28px;
    padding-top: 28px;
}

.footer .contact p{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
}

.footer .contact .phone-num-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer .contact .phone-num-block p{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 12px;
}

.footer .contact .phone-num-block i{
    font-size: 24px;
    color: red;
}


.footer .contact .sign-up .sign-up-block{
    display: flex;
    align-items: center;
    position: relative;
    width: 225px;
}

.footer .contact .sign-up .sign-up-block input{
    font-size: 14px;
    height: 36px;
    width: 189px;

    border: 1px solid gray;
    border-right: none;
    padding-left: 8px;
}

.footer .contact .sign-up .sign-up-block input:focus{
    outline: none;
}

.footer .contact .sign-up .sign-up-block button{
    background-color: black;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    border: none;
}

.footer .contact .sign-up .sign-up-block button i{
    color: white;
}

.footer .contact .social-network .icon-social-network{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.footer .contact .social-network .icon-social-network i{
    font-size: 32px;
}

.footer .contact .social-network .icon-social-network .fa-facebook-f{
    color: #0866FF;
}

.footer .contact .social-network .icon-social-network .fa-instagram{
    color: #FE0D47;
}

.footer .contact .social-network .icon-social-network .fa-shopify{
    color: #FE5722;
}

.footer .contact .social-network .icon-social-network i{
    border: none;
}

/* Bottom footer */
.footer .bottom-footer{
    width: 100%;
    height: auto;
    background-image: url(../images/background\ img\ bottom\ footer.png);
    background-size: cover;

    padding-top: 32px;
    padding-bottom: 32px;
}

.footer .bottom-footer p{
    color: white;
    font-weight: 700;
}

.footer .bottom-footer p{
    font-size: 16px;
}

.footer .bottom-footer li{
    font-size: 14px;
    list-style: none;
    margin-top: 10px;
    font-weight: 500;
    color: white;
}

.footer .bottom-footer ul{
    padding-left: 0;
}


/* Nut quay lai dau trang */
.back-to-header{
    position: fixed;
    bottom: 90px;
    right: 20px;

    background-color: #484848;
    border: 1px solid white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

.back-to-header i{
    color:white;
    font-size: 24px;
}

/* Nut chat */
.chat-button{
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: #484848;
    border: 1px solid white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    cursor: pointer;
}

.chat-button .fix-chat-button i{
    color:white;
    font-size: 22px;
    animation: shake 1s infinite ease-out;
}


.chat-button .fix-chat-button #closeChat{
    display: none;
    font-size: 24px;
}

.chat-button .fix-chat-button{
    position: relative;
}

/* Chat box */
.chat-button .chat-box{
    cursor: default;
    position: absolute;
    width: 300px;
    height: 350px;
    bottom: 48px;
    right: -15px;
    display: none;
    background-color: white;
    border: 1px solid black;
}

.chat-button .fix-chat-button .chat-box .fix-chat-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;

}

.chat-button .chat-box .fix-chat-box .header-chat-box{
    width: 100%;
    height: 15%;
    background-color: #1A1A1A;

    display: flex;
    align-items: center;
}

.chat-button .chat-box .fix-chat-box .header-chat-box img{
    object-fit: cover;
    height: 100%;
}

.chat-button .chat-box .fix-chat-box .header-chat-box p{
    color: white;
    margin-bottom: 0;
}

.chat-button .fix-chat-button .chat-box.show{
    display: block;
}

.chat-button .fix-chat-button .chat-box .fix-chat-box .box-message{
    height: 71%;
    width: 100%;
}

.chat-button .fix-chat-button .chat-box .fix-chat-box .live-chat{

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 22px;
    background-color: white;
    padding-left: 10px;
    padding-right: 5px;
    width: 90%;
    height: 36px;
}

.chat-button .fix-chat-button .chat-box .fix-chat-box .box-message .message{
    background-color: white;
    border: .5px black solid;
    padding: 5px 10px;
    border-radius: 0px 1.5vw 1.5vw 1.8vw;
    max-width: 70%;

    margin-left: 10px;
    margin-top: 10px;
}

.chat-button .fix-chat-button .chat-box .fix-chat-box .box-message .message span{
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: black;
}

.chat-button .fix-chat-button .chat-box .fix-chat-box .live-chat input{
    border: none;
    width: 85%;
    height: 28px;
    font-size: 14px;
}

.chat-button .fix-chat-button .chat-box .fix-chat-box .live-chat input:focus {
    outline: none;
}

.chat-button .fix-chat-button .chat-box .fix-chat-box .live-chat button{
    border: none;
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 22px;
    font-weight: 400;
}


.chat-button .fix-chat-button .chat-box .fix-chat-box .live-chat button i{
    color: black;
    margin-right: 8px;
    animation: none;
}


/* Cart box */
.cart-box{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: white;
    border-left: 1px black solid;

    z-index: 120;
    display: none;

    overflow-y: auto;
    /* animation: fadeInRight .3s ease-in-out; */
}

.cart-box::-webkit-scrollbar{
    display: none;
}

.cart-box .header-cart-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;

    position: relative;
}

.cart-box .header-cart-box h1{
    font-size: 24px;
}

.cart-box .header-cart-box p{
    position: absolute;
    top: 100%;
    font-size: 12px;
}

.cart-box .header-cart-box button{
    border: none;
    background-color: white;
}

.cart-box .header-cart-box button i{
    font-size: 24px;
}

.cart-box .line{
    float: left;
    width: 100%;
    border-top: 2px solid #000000;
    margin: 20px 0;
}

.cart-box .item-cart-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}

.cart-box .item-cart-box .card-item{
    display: flex;
    align-items: flex-start;
}

.cart-box .item-cart-box .card-item .img-item{
    width: 100px;
    height: 100px;
}

.cart-box .item-cart-box .card-item .img-item img{
    height: 100%;
    object-fit: cover;
}

.cart-box .item-cart-box .card-item .detail-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 20px;
}

.cart-box .item-cart-box .card-item .detail-item .title-product{
    font-weight: 500;
}

.cart-box .item-cart-box .card-item .detail-item .price{
    font-size: 14px;
}

.cart-box .item-cart-box .card-item .detail-item button{
    border: none;
    background-color: white;
    font-size: 14px;
}

.cart-box .tital-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-box .tital-price h1{
    font-size: 20px;
}

.cart-box .order{
    width: 100%;
    background-color: black;
    color: white;
    height: 50px;
}

.cart-box .order:hover{
    background-color: white;
    color: black;
}
/* Filter */
/* .filter{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter .left-filter{

    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 80px;

    padding-right: 80px;
}

.filter .left-filter a{
    text-decoration: none;
    color: black;
}

.filter .left-filter .classify-filter{
    position: relative;
    cursor: pointer;
}

.filter .left-filter .size-filter{
    position: relative;
    cursor: pointer;
}

.filter .left-filter .price-filter{
    position: relative;
    cursor: pointer;
}


.filter .left-filter .classify-filter .check-box-classify{
    position: absolute ;
    left: 0;
    width: calc(100% + 80px);
    top: 100%;

    padding: 16px 0;
    font-size: 14px;
    font-weight: 700; 
    background-color: whitesmoke;

    display: none;
}

.filter .left-filter .size-filter .check-box-size{
    position: absolute ;
    left: 0;
    width: calc(100% + 80px);
    top: 100%;

    padding: 16px 0;
    font-size: 14px;
    font-weight: 700; 
    background-color: whitesmoke;

    display: none;
}

.filter .left-filter .price-filter .check-box-price{
    position: absolute ;
    left: 0;
    width: calc(100% + 80px);
    top: 100%;

    padding: 16px 0;
    font-size: 14px;
    font-weight: 700; 
    background-color: whitesmoke;

    display: none;
}


.filter .left-filter i{
    transform: rotate(-90deg);
    animation: rotateBack .2s ease-in-out 1 forwards;
}


.filter .left-filter .classify-filter:hover .check-box-classify{
    display: block;
    z-index: 1;
}

.filter .left-filter .classify-filter:hover .arrow-classify-filter{
    transform: rotate(0deg);
    animation: rotate90 .2s ease-in-out 1 forwards;
}

.filter .left-filter .size-filter:hover .check-box-size{
    display: block;
    z-index: 1;
}

.filter .left-filter .size-filter:hover .arrow-size-filter{
    transform: rotate(0deg);
    animation: rotate90 .2s ease-in-out 1 forwards;
}

.filter .left-filter .price-filter:hover .check-box-price{
    display: block;
    z-index: 1;
}

.filter .left-filter .price-filter:hover .arrow-price-filter{
    transform: rotate(0deg);
    animation: rotate90 .2s ease-in-out 1 forwards;
}

.filter .right-filter{

    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.filter span{
    font-weight: 700;
    font-size: 16px;
}

.filter i{
    color: gray;
    font-size: 16px;
    margin-left: 4px;
}

.filter .right-filter select{
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.filter .right-filter select option{
    font-size: 14px;
    font-weight: 700;
} */


/* Detail product */
/* .main-index .detail-product .detail-image{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.main-index .detail-product .main-image img{
    width: 80%;
    object-fit: cover;
}

.main-index .detail-product .option-image{
    width: 80%;
    margin-top: 8px;
}

.main-index .detail-product .owl-carousel{
    display: flex
}


.main-index .detail-product .option-image img{
    width: 75px;
    height: 75px;
} */



/* Animation */

@keyframes shake {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes rotate90 {
    from {
      transform: rotate(-90deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  @keyframes rotateBack {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-90deg);
    }
  }

  @keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(300px);
      }
      to {
        opacity: 1;
      }
  }

  @keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-300px);
      }
      to {
        opacity: 1;
      }
  }

  @keyframes fadeOutRight {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateX(300px);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    from {
        transform:translate(0px, 100px); opacity: 0;
    }
    to {
        transform:translate(0px, 0);
        opacity: 1;
    }
  }


/* Responsive */
.header-main .wrap-main .mobile-logo{
    display: none;
}

.header-main .wrap-main .mobile-icon{
    display: none;
}

.header-main .wrap-main .mobile-search{
    display: none;
}

.mobile-search-box{
    display: none;
}

  /* Desktop */
  @media screen and (max-width: 1279px) {
    
  }

  /* Tablet */
  @media screen and (max-width: 768px) {
       /* Header top */
       .header-top .header-top-content{
        display: block;
        padding-left: 8px;
        padding-right: 8px;
    }
    .header-top .header-top-content .hot-line{
        display: none;
    }
    .header-top .header-top-content .user{
        display: flex;
        justify-content: space-between;
    }


    /* Header main */
    .header-main .wrap-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-main .wrap-main .menu-main{
        display: none;
    }

    .header-main .wrap-main .search{
        display: none;
    }

    .header-main .wrap-main .logo{
        /* width: 149.44px; */
        display: none;
    }

    .header-main .wrap-main .mobile-logo{
        display: block;
        margin: auto;
        text-decoration: none;
    }

    .header-main .wrap-main .mobile-logo img:first-child{
        height: 70px;
        object-fit: cover;
    }

    .header-main .wrap-main .mobile-logo img:nth-child(2){
        height: 30px;
        object-fit: cover;
    }

    .header-main .wrap-main .mobile-icon{
        display: block;
        margin-left: 8px;
    }

    .header-main .wrap-main .mobile-search{
        display: block;
        margin-right: 8px;
    }

    .header-main .wrap-main i{
        font-size: 18px;
    }

    .header-main .wrap-main .mobile-icon .fix-mobile-menu-main{
        position: fixed;
        width: 40%;
        height: 100%;
        background-color: white;
        top: 0;
        left: 0;
        z-index: 9;
        display: none;

        animation: fadeInLeft .3s ease-in-out;
    }

    .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        padding-left: 0;
        position: relative;
    }

    .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main img{
        width: 80px;
        object-fit: cover;
    }

    .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main li{
        list-style: none;
        color: black;

        font-size: 14px;
        font-weight: 600;
    }

    .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main li a{
        text-decoration: none;
        color: black;
    }

    .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main li b{
        font-size: 14px;
        font-weight: 600;
    }

    .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main li i{
        font: 12px;
    }

    .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main .close-mobile-icon{
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 999999
        ;
    }

    /* title product */
    .main-index .sale-products .title-sale-products .text-wrapper .letters{
        font-size: 15px;
    }


    /* sale products */
    .main-index .sale-products{
        max-width: 100% !important;
    }

    .circles i:nth-child(1){
        font-size: 60px;
    }

    .circles i:nth-child(4){
        font-size: 70px;
    }
    .circles i:nth-child(6){
        font-size: 40px;
    }
    .circles i:nth-child(7){
        font-size: 50px;
    }
    .circles i:nth-child(10){
        font-size: 40px;
    }
     
    /* menu main product */
    .main-index .container-products .title-products .menu-main{
        overflow: hidden;
        overflow-x: auto;
    }

    .main-index .container-products .title-products .menu-main li{
        flex-shrink: 0;
    }

    /* footer */
    .call-buy, .call-support{
        margin-bottom: 20px;
    }


    /* cart box */
    .cart-box{
        width: 100%;
    }

    /* Mobile search */
    .mobile-search-box {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 121;

        width: 90%;
        height: 100%;
        background-color: white;
        border-left: 1px black solid;
        animation: fadeInRight .3s ease-in-out;
    }

    .mobile-search-box .header-mobile-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 48px;
    }

    .mobile-search-box .header-mobile-search h2{
        font-size: 24px;
    }

    .mobile-search-box .header-mobile-search i{
        font-size: 20px;
    }

    .mobile-search-box .search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 8px;
        border: 1px black solid;
        border-radius: 25px;

        margin-top: 24px;
    }

    .mobile-search-box .search input{
        border: none;
    }

    .mobile-search-box .search input:focus{
        outline: none;
    }

    .mobile-search-box .search button {
        border: none;
        background-color: white;
    }
}

  /* Mobile */
    @media screen and (max-width: 480px) {
        /* Header top */
        .header-top .header-top-content{
            display: block;
            padding-left: 8px;
            padding-right: 8px;
        }
        .header-top .header-top-content .hot-line{
            display: none;
        }
        .header-top .header-top-content .user{
            display: flex;
            justify-content: space-between;
        }


        /* Header main */
        .header-main .wrap-main{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header-main .wrap-main .menu-main{
            display: none;
        }

        .header-main .wrap-main .search{
            display: none;
        }

        .header-main .wrap-main .logo{
            /* width: 149.44px; */
            display: none;
        }

        .header-main .wrap-main .mobile-logo{
            display: block;
            margin: auto;
            text-decoration: none;
        }

        .header-main .wrap-main .mobile-logo img:first-child{
            height: 70px;
            object-fit: cover;
        }

        .header-main .wrap-main .mobile-logo img:nth-child(2){
            height: 30px;
            object-fit: cover;
        }

        .header-main .wrap-main .mobile-icon{
            display: block;
            margin-left: 8px;
        }

        .header-main .wrap-main .mobile-search{
            display: block;
            margin-right: 8px;
        }

        .header-main .wrap-main i{
            font-size: 18px;
        }

        .header-main .wrap-main .mobile-icon .fix-mobile-menu-main{
            position: fixed;
            width: 40%;
            height: 100%;
            background-color: white;
            top: 0;
            left: 0;
            z-index: 9;
            display: none;

            animation: fadeInLeft .3s ease-in-out;
        }

        .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            padding-left: 0;
            position: relative;
        }

        .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main img{
            width: 80px;
            object-fit: cover;
        }

        .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main li{
            list-style: none;
            color: black;

            font-size: 14px;
            font-weight: 600;
        }

        .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main li a{
            text-decoration: none;
            color: black;
        }

        .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main li b{
            font-size: 14px;
            font-weight: 600;
        }

        .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main li i{
            font: 12px;
        }

        .header-main .wrap-main .mobile-icon .fix-mobile-menu-main .mobile-menu-main .close-mobile-icon{
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 999999
            ;
        }

        /* title product */
        .main-index .sale-products .title-sale-products .text-wrapper .letters{
            font-size: 15px;
        }


        /* sale products */
        .main-index .sale-products{
            max-width: 100% !important;
        }

        .circles i:nth-child(1){
            font-size: 60px;
        }

        .circles i:nth-child(4){
            font-size: 70px;
        }
        .circles i:nth-child(6){
            font-size: 40px;
        }
        .circles i:nth-child(7){
            font-size: 50px;
        }
        .circles i:nth-child(10){
            font-size: 40px;
        }
         
        /* menu main product */
        .main-index .container-products .title-products .menu-main{
            overflow: hidden;
            overflow-x: auto;
        }

        .main-index .container-products .title-products .menu-main li{
            flex-shrink: 0;
        }

        /* footer */
        .footer .contact .fix-gap-footer-mobile{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        /* bottom footer */
        .footer .bottom-footer .fix-gap-bottom-footer-mobile{
            display: flex;
            flex-direction: column;
            gap: 24px; 
        }

        .footer .bottom-footer .customer-support-mobile{
            height: auto;
        }

        .footer .bottom-footer .customer-support-mobile .sub-menu-footer-mobile{
            display: none;
            animation: fadeInDown .3s ease-in-out;
        }

        .footer .bottom-footer .about-us-mobile{
            height: auto;
        }

        .footer .bottom-footer .about-us-mobile .sub-menu-footer-mobile-1{
            display: none;
            animation: fadeInDown .3s ease-in-out;
        }

        /* cart box */
        .cart-box{
            width: 100%;
        }

        /* Mobile search */
        .mobile-search-box {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 121;

            width: 90%;
            height: 100%;
            background-color: white;
            border-left: 1px black solid;
            animation: fadeInRight .3s ease-in-out;
        }

        .mobile-search-box .header-mobile-search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 48px;
        }

        .mobile-search-box .header-mobile-search h2{
            font-size: 24px;
        }

        .mobile-search-box .header-mobile-search i{
            font-size: 20px;
        }

        .mobile-search-box .search {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 8px;
            border: 1px black solid;
            border-radius: 25px;

            margin-top: 24px;
        }

        .mobile-search-box .search input{
            border: none;
        }

        .mobile-search-box .search input:focus{
            outline: none;
        }

        .mobile-search-box .search button {
            border: none;
            background-color: white;
        }
    }